  /*  desktop += 900px with */


/*  header */
header{
  margin-left:500px; 
  width: 905px;
  color: green;
  text-shadow: red 4px 4px 4px;
  background-color: aliceblue;
  text-align: center;
  font-size: 50px;
  text-decoration: double;
}
/*  body */
body{
    margin: 5;

    text-align: center;

    background-color: #333;

    color: aliceblue;
}
/*  header */
/*  menu principal  */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  /*  main */

  main{
    margin-top: 15px;
    background-color: aliceblue;
    width: 900px;
    height: 10000px;
    margin-left: 500px;
    border-style: ridge;
    border-color: skyblue;
  }
  #filmes{

    text-align: center;
  
  }
  /*  terror*/
  .terror{
  
  color: #333;
  text-align: center;
  font-size: 20px;
  }
  .terror h2{
    font-size: 35px;
  }
  .terror img{
    width: 500px;

  }
  /*  comedia */
  /*  suspense */
  /*  ação */
  /*  ficção */
  
    
  /*  div */
  /*  div */
  /*  div */
  /*  div */

  @media only screen and(max-width:1200px){
      /*  desktop += 900px with */


/*  header */
header{
  margin-left:100px; 
  width: 905px;
  color: green;
  text-shadow: red 4px 4px 4px;
  background-color: aliceblue;
  text-align: center;
  font-size: 50px;
  text-decoration: double;
}
/*  body */
body{
  margin: 5;

  text-align: center;

  background-color: #333;

  color: aliceblue;
}
/*  header */
/*  menu principal  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*  main */

main{
  margin-top: 15px;
  background-color: aliceblue;
  width: 300px;
  height: 10000px;
  margin-left: 400px;
  border-style: ridge;
  border-color: skyblue;
}
#filmes{

  text-align: center;

}
/*  terror*/
.terror{

color: #333;
text-align: center;
font-size: 20px;
}
.terror h2{
  font-size: 35px;
}
.terror img{
  width: 500px;

}
/*  comedia */
/*  suspense */
/*  ação */
/*  ficção */

  
/*  div */
/*  div */
/*  div */
/*  div */
  }

  /*  mobile -= 900px with */

  @media only screen and (max-width: 900px) {



/*  header */
header{
  margin-left:100px; 
  width: 505px;
  height: 100;
  color: green;
  text-shadow: red 4px 4px 4px;
  background-color: aliceblue;
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  text-decoration: double;
}
/*  menu principal  */

ul {
  list-style-type: none;
  width: 300px;
  margin: 0;
  margin-left:200px ;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(153, 140, 140);
}
header{
  text-align: center;
  font-size:larger;
  font-size: 30px;
}

/*  body */
body{
  margin: 10;

  text-align: center;

  background-color: #333;

  color: aliceblue;
}

/*  main */

main{
  margin-top: 15px;
  background-color: aliceblue;
  width: 500px;
  height: 10000px;
  margin-left: 100px;
  border-style: ridge;
  border-color: skyblue;
}

#filmes{

  text-align: center;

}
/*  terror*/
.terror{

color: #333;
text-align: center;


}
/*  comedia */
/*  suspense */
/*  ação */
/*  ficção */
 
  }
